# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage output
*.out
coverage.out
coverage.html

# Logs
*.log

# Environment files
.env
.env.*

# JetBrains IDE
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp


ignore/

preset/

todo
